NEXT_PUBLIC_SITE_URL=https://domain-anda.id
NEXT_PUBLIC_LYNK_URL=https://lynk.id/username-anda
NEXT_PUBLIC_WHATSAPP_URL=https://wa.me/62XXXXXXXXXXX
NEXT_PUBLIC_PRODUCT_PRICE=Rp000.000
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX
